<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    <script src="../static/js/main.js"></script>
</head>
<body>
    <div class="topnav">
        <a href="{{url_for('showCategories')}}">Home</a>
        <a href="{{url_for('login')}}">Log In</a>
    </div>
    <div class="main-catalog">
        <div class="list" id="category">
            <h2 class="list-name">Categories</h2>
            {% for cat in categories %}
            <a href="{{url_for('showItems', category_id=cat.id)}}" class="category">
                <div class="category-row">
                    <h3>{{cat.name}}</h3>
                </div>
            </a>
            {% endfor %}
            <a class="create-link" href="{{url_for('newCategory')}}">
                <div>Create New Category</div>
            </a>
        </div>
        

        <div class="list" id="item">
            <h2 class="list-name">{{name}} Items</h2>
            
            {% for item in items %}
            
                <a href='{{url_for('showItem', category_id=item.category_id, item_id=item.id)}}' class="item">
                        <div class="item-row">
                    <h3>{{item.name}}</h3>
                </div>
                </a>
            
            {% endfor %}
            {% if newItems %}
            <a class="create-link" href="{{url_for('newItem', category_id=category_id)}}">
                    <div>Create New Item</div>
            </a>
        {% endif %}
        </div>  
        

        
    </div>
</body>
</html>