<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />
  </head>
  <body>
    <div class="bg">
      <div class="bg-color">
        <div class="topnav">
          <a href="{{ url_for('showCategories') }}">Home</a>
          <a href="{{ url_for('login') }}">Log In</a>
          {%if userID:%}
          <a href="{{ url_for('gdisconnect') }}">Log Out</a>
          {%endif%}
        </div>
        <div class="deletion">
          <h2>Delete {{ deleteObj.name }} ?</h2>

          <form action="" method="POST">
            <button class="edit-btn" type="submit" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
