<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />
    <script src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="bg">
      <div class="bg-color">
        <div class="topnav">
          <a href="{{ url_for('showCategories') }}">Home</a>
          <a href="{{ url_for('login') }}">Log In</a>
          {%if userID:%}
          <a href="{{ url_for('gdisconnect') }}">Log Out</a>
          {%endif%}
        </div>
        <div class="edit-header">
            <h2>Edit {{ item.name }} </h2>
          </div>
        <form action="" method="POST">
            <div class="col custom-col">
          <label for="name">Name:</label>
          <input
            type="text"
            maxlength="100"
            name="name"
            placeholder="{{ item.name }}"
          />

          <label for="description">Description:</label>
          <textarea
            maxlength="250"
            rows="3"
            name="description"
            placeholder="{{ item.description }}"
          ></textarea>
          <button type="submit" class="edit-btn">Edit</button>
          </form>
        </form>
      </div>
    </div>
  </body>
</html>
