<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />
    <script src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="bg">
      <div class="bg-color">
        <div class="topnav">
          <a href="{{ url_for('showCategories') }}">Home</a>
          <a href="{{ url_for('login') }}">Log In</a>
        </div>
        <div class="edit-header">
          <h2>Edit {{ category.name }}</h2>
        </div>

        <form action="" method="POST">
          <div class="edit-input">
            <label for="name">New Name:</label>
            <input
              type="text"
              name="name"
              placeholder="{{ category.name }}"
              required
            />
            <button class="edit-btn" type="submit" type="submit">Rename</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
